In [5]:
import pandas as pd
df = pd.read_csv(r'pydata-book-2nd-edition\examples\ex1.csv')

In [6]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [8]:
pd.read_table('pydata-book-2nd-edition\examples\ex1.csv',sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [9]:
pd.read_csv('pydata-book-2nd-edition\examples\ex2.csv',header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [10]:
pd.read_csv('pydata-book-2nd-edition\examples\ex2.csv',names=['a','b','c','d','message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [11]:
names = ['a','b','c','d','message']
pd.read_csv('pydata-book-2nd-edition\examples\ex2.csv',names=names,index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [12]:
parsed = pd.read_csv('pydata-book-2nd-edition\examples\csv_mindex.csv',index_col=['key1','key2'])

In [13]:
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [14]:
list(open('pydata-book-2nd-edition\examples\ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [15]:
result = pd.read_table('pydata-book-2nd-edition\examples\ex3.txt',sep='\s+')

In [16]:
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [17]:
pd.read_csv('pydata-book-2nd-edition\examples\ex4.csv',skiprows=[0,2,3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [18]:
result = pd.read_csv('pydata-book-2nd-edition\examples\ex5.csv')

In [19]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [20]:
pd.isnull(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [22]:
pd.options.display.max_rows = 10
result = pd.read_csv('pydata-book-2nd-edition\examples\/ex6.csv')
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [25]:
pd.read_csv('pydata-book-2nd-edition\examples\ex6.csv',nrows=5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [32]:
chunker = pd.read_csv('I:\数据分析\Task 3\pydata-book-2nd-edition\examples\ex6.csv',chunksize=1000)

In [33]:
chunker

In [34]:
data = pd.read_csv('I:\数据分析\Task 3\pydata-book-2nd-edition\examples\ex5.csv')

In [35]:
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [36]:
data.to_csv('I:\数据分析\Task 3\pydata-book-2nd-edition\examples\out.csv')

In [37]:
import sys

In [38]:
data.to_csv(sys.stdout,sep='|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [39]:
data.to_csv(sys.stdout,na_rep='NULL')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [40]:
data.to_csv(sys.stdout,index=False,header=False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [42]:
data.to_csv(sys.stdout,index=False,columns=['a','b','c'])

a,b,c
1,2,3.0
5,6,
9,10,11.0

In [44]:
dates = pd.date_range('1/1/2000',periods=7)

In [46]:
import numpy as np
ts = pd.Series(np.arange(7),index=dates)

In [47]:
import csv
f= open('I:\数据分析\Task 3\pydata-book-2nd-edition\examples\ex7.csv')

In [48]:
reader = csv.reader(f)

In [49]:
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [50]:
with open('I:\数据分析\Task 3\pydata-book-2nd-edition\examples\ex7.csv') as f:
    lines = list(csv.reader(f))

In [51]:
header,values = lines[0],lines[1:]

In [52]:
data_dict = {h: v for h,v in zip(header,zip(*values))}

In [53]:
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [54]:
import json

In [58]:
obj = """{'name':'Wes','places_lived':['United States','Spain','Germany'],'pet':null,'siblings':[{'name':'Scott','age':30,'pets':['Zeus','Zuko']},
{'name':'Katie','age':38,'pets':['Sixes','Stache','Cisco']}]}"""

In [59]:
result = json.loads(obj)

JSONDecodeError: Expecting property name enclosed in double quotes: line 1 column 2 (char 1)

In [60]:
data = pd.read_json('I:\数据分析\Task 3\pydata-book-2nd-edition\examples\example.json')

In [61]:
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [62]:
frame = pd.read_csv('I:\数据分析\Task 3\pydata-book-2nd-edition\examples\ex1.csv')

In [63]:
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [69]:
frame.to_pickle('I:\数据分析\Task 3\pydata-book-2nd-edition\examples/frame_pickle')

In [70]:
pd.read_pickle('I:\数据分析\Task 3\pydata-book-2nd-edition\examples/frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [2]:
import numpy as np
import pandas as pd
frame = pd.DataFrame({'a':np.random})

ValueError: If using all scalar values, you must pass an index

In [3]:
frame = pd.DataFrame({'a':np.random.randn(100)})

In [ ]:
store = pd.HDFStore('mydata.h5') # 报错

In [2]:
import pandas as pd
xlsx = pd.ExcelFile('I:\数据分析\Task 3\pydata-book-2nd-edition\examples\ex1.xlsx')

In [3]:
pd.read_excel(xlsx,'Sheet1')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [5]:
frame = pd.read_excel('I:\数据分析\Task 3\pydata-book-2nd-edition\examples/ex1.xlsx','Sheet1')

In [6]:
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [7]:
writer = pd.ExcelWriter('I:\数据分析\Task 3\pydata-book-2nd-edition\examples\ex2.xlsx')

In [8]:
frame.to_excel(writer,'Sheet1')

In [9]:
writer.save()

In [10]:
frame.to_excel('I:\数据分析\Task 3\pydata-book-2nd-edition\examples\ex2.xlsx')

In [11]:
import requests

In [22]:
url = 'http://api.github.com/repos/pandas-dev/pandas/issues'

In [23]:
resp = requests.get(url)

In [24]:
resp

In [25]:
data = resp.json()

In [26]:
data[0]['title']

'Update visualization.rst'

In [27]:
issues = pd.DataFrame(data,columns = ['number','title','labels','state'])

In [28]:
issues

,number,title,labels,state
0,27092,Update visualization.rst,[],open
1,27091,Enhancement: The shift function should have an...,[],open
2,27090,ENH: allow non-Tick offsets in index.round/cei...,[],open
3,27089,Anyone knows a free Transaction Language 1 (TL...,[],open
4,27088,BUG: Fix handling of ambiguous or nonexistent ...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
5,27087,"WIP: Add DayEnd, DayBegin Offsets (Help Wanted)",[],open
6,27085,TST: Split test_offsets.py,"[{'id': 53181044, 'node_id': 'MDU6TGFiZWw1MzE4...",open
7,27084,DEPR: msgpack,"[{'id': 87485152, 'node_id': 'MDU6TGFiZWw4NzQ4...",open
8,27081,API: .equals for Extension Arrays,"[{'id': 35818298, 'node_id': 'MDU6TGFiZWwzNTgx...",open
9,27080,Bug in SparseArray.__array_ufunc__ for reduce,[],open
10,27078,DOC/TST: provide documentation & testing on gr...,"[{'id': 78527356, 'node_id': 'MDU6TGFiZWw3ODUy...",open
11,27076,Blacken the code base,"[{'id': 77550281, 'node_id': 'MDU6TGFiZWw3NzU1...",open
12,27075,Groupby ignores unobserved combinations when p...,[],open
13,27073,ENH: Json fill_value for missing fields,"[{'id': 49379259, 'node_id': 'MDU6TGFiZWw0OTM3...",open
14,27072,[POC] CLN: use ExtensionBlock for datetime tz ...,"[{'id': 849023693, 'node_id': 'MDU6TGFiZWw4NDk...",open
15,27070,Add semantic analyser,"[{'id': 1280988427, 'node_id': 'MDU6TGFiZWwxMj...",open
16,27069,Feature request: make read_parquet support rea...,[],open
17,27068,TST: change assertion messages in assert_frame...,"[{'id': 42670965, 'node_id': 'MDU6TGFiZWw0MjY3...",open
18,27067,DOC: Exception raised if columns do not match ...,"[{'id': 1049312478, 'node_id': 'MDU6TGFiZWwxMD...",open
19,27062,CI: Use conda compiler in `environment.yml`,"[{'id': 48070600, 'node_id': 'MDU6TGFiZWw0ODA3...",open
20,27060,POC: add .ll indexer for pythonic label-based ...,[],open
21,27059,Discussion: Why is loc label-based slicing rig...,[],open
22,27058,ENH: Chaining method for assigning a new index,[],open
23,27057,rolling(offset) treats duplicated Timestamps i...,[],open
24,27056,Missing narrow-unicode Python 2.7 wheels,[],open
25,27055,DOC: Validation of docsting validates Python t...,"[{'id': 48070600, 'node_id': 'MDU6TGFiZWw0ODA3...",open
26,27054,DOC: Fix pipe example in the Essential basic f...,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
27,27052,sharey and tick_params: top row not impacted,[],open
28,27051,ENHANCEMENT: Write df to an existing excel sheet,[],open
29,27050,Contributing Guide for Type Hints,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open

In [29]:
import sqlite3

In [30]:
query = """
......:CREATE TABLE test
......:(a VARCHAR(20),b VARCHAR(20),
......: c REAL, d INTEGER
......:)"""

In [31]:
con = sqlite3.connect('mydata.sqlite')

In [32]:
con.execute(query)

In [33]:
con.commit()

In [35]:
data = [('Atlanta','Georgia',1.25,6),
       ('Tallahassee','Florida',2.6,3),
       ('Sacramento','California',1.7,5)]

In [36]:
stmt = 'INSERT INTO test VALUES(?,?,?,?)'

In [37]:
con.executemany(stmt,data)

In [38]:
cursor = con.execute('select * from test')

In [39]:
rows = cursor.fetchall()

In [40]:
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [41]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [42]:
pd.DataFrame(rows,columns=[x[0] for x in cursor.description])

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [43]:
import sqlalchemy as sqla

In [44]:
db = sqla.create_engine('sqlite:///mydata.sqlite')

In [45]:
pd.read_sql('select * from test',db)

Empty DataFrame
Columns: [a, b, c, d]
Index: []