In [1]:
from datetime import datetime
now = datetime.now()
now

datetime.datetime(2019, 7, 15, 15, 30, 55, 53000)

In [2]:
now.year,now.month,now.day

(2019, 7, 15)

In [3]:
delta = datetime(2011,1,7)-datetime(2008,6,24,8,15)
delta

datetime.timedelta(926, 56700)

In [4]:
delta.days

926

In [5]:
delta.seconds

56700

In [6]:
from datetime import timedelta

In [7]:
start = datetime(2011,1,7)
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [8]:
start - 2*timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

In [9]:
stamp = datetime(2011,1,3)
str(stamp)

'2011-01-03 00:00:00'

In [10]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [11]:
value = '2011-01-03'
datetime.strptime(value,'%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [15]:
datestrs = ['7/6/2011','8/6/2011']
[datetime.strptime(x,'%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [16]:
from dateutil.parser import parse
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [17]:
parse('Jan 31,1997 10:45 PM')

datetime.datetime(2019, 1, 31, 22, 45)

In [18]:
parse('6/12/2011',dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [20]:
import pandas as pd
datestrs = ['2011-07-06 12:00:00','2011-08-06 00:00:00']
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [21]:
idx = pd.to_datetime(datestrs+[None])

In [22]:
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [23]:
idx[2]

NaT

In [24]:
pd.isnull(idx)

array([False, False,  True])

In [26]:
from datetime import datetime
import numpy as np
dates = [datetime(2011,1,2),datetime(2011,1,5),
        datetime(2011,1,7),datetime(2011,1,8),
        datetime(2011,1,10),datetime(2011,1,12)]
ts = pd.Series(np.random.randn(6),index=dates)

In [27]:
ts

2011-01-02   -0.630003
2011-01-05    0.118994
2011-01-07   -1.528214
2011-01-08    1.647434
2011-01-10   -0.275949
2011-01-12   -1.753504
dtype: float64

In [28]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [31]:
ts + ts[::2]

2011-01-02   -1.260006
2011-01-05         NaN
2011-01-07   -3.056427
2011-01-08         NaN
2011-01-10   -0.551898
2011-01-12         NaN
dtype: float64

In [32]:
ts.index.dtype

dtype('<M8[ns]')

In [33]:
stamp = ts.index[0]

In [34]:
stamp

Timestamp('2011-01-02 00:00:00')

In [35]:
stamp = ts.index[2]

In [36]:
ts[stamp]

-1.528213553597524

In [37]:
ts['1/10/2011']

-0.2759488409324164

In [38]:
ts['20110110']

-0.2759488409324164

In [39]:
longer_ts = pd.Series(np.random.randn(1000),index=pd.date_range('1/1/2000',periods=1000))
longer_ts

2000-01-01   -0.212290
2000-01-02    1.233006
2000-01-03   -1.525740
2000-01-04   -0.493238
2000-01-05   -0.419978
2000-01-06    0.205606
2000-01-07   -0.106082
2000-01-08    0.906152
2000-01-09    0.099805
2000-01-10    1.407713
2000-01-11   -0.231279
2000-01-12    1.155603
2000-01-13   -0.939618
2000-01-14   -0.301602
2000-01-15    0.825342
2000-01-16    0.206353
2000-01-17   -1.369652
2000-01-18    1.045080
2000-01-19    2.010145
2000-01-20   -0.371949
2000-01-21    1.474147
2000-01-22   -0.408234
2000-01-23   -1.164311
2000-01-24   -0.437397
2000-01-25    0.093660
2000-01-26   -0.021344
2000-01-27    0.179592
2000-01-28   -1.751680
2000-01-29    0.427396
2000-01-30    0.267626
                ...
2002-08-28    1.087000
2002-08-29   -1.453715
2002-08-30    0.540584
2002-08-31    1.704385
2002-09-01   -1.729746
2002-09-02    0.603737
2002-09-03   -1.935100
2002-09-04    0.293867
2002-09-05    0.266760
2002-09-06    0.031176
2002-09-07    0.804322
2002-09-08    0.450391
2002-09-09   -1.167708
2002-09-10    1.669698
2002-09-11    0.301440
2002-09-12    0.775292
2002-09-13    0.065525
2002-09-14    1.189479
2002-09-15   -1.773893
2002-09-16    0.231457
2002-09-17    0.256128
2002-09-18   -0.200623
2002-09-19    0.852676
2002-09-20   -0.598102
2002-09-21    0.755341
2002-09-22    0.097706
2002-09-23    1.001821
2002-09-24   -2.188940
2002-09-25   -0.472855
2002-09-26   -0.206827
Freq: D, Length: 1000, dtype: float64

In [40]:
longer_ts['2001']

2001-01-01    1.898558
2001-01-02    0.055760
2001-01-03   -0.050949
2001-01-04    1.597860
2001-01-05   -0.407679
2001-01-06   -1.653114
2001-01-07    1.331021
2001-01-08   -0.094674
2001-01-09    0.656410
2001-01-10   -1.404159
2001-01-11    0.247216
2001-01-12   -0.281162
2001-01-13   -0.595073
2001-01-14   -0.385311
2001-01-15    1.207573
2001-01-16    1.440428
2001-01-17    0.059898
2001-01-18    0.909287
2001-01-19   -0.613786
2001-01-20   -2.230319
2001-01-21    0.988818
2001-01-22   -1.518510
2001-01-23   -0.064183
2001-01-24   -0.614233
2001-01-25    1.947832
2001-01-26   -0.403329
2001-01-27   -0.284198
2001-01-28    0.321551
2001-01-29    1.260031
2001-01-30    1.104587
                ...
2001-12-02   -0.317329
2001-12-03   -0.476750
2001-12-04    1.571224
2001-12-05    0.973362
2001-12-06   -1.778385
2001-12-07   -1.265729
2001-12-08    1.503467
2001-12-09    1.039579
2001-12-10   -0.553786
2001-12-11    0.862101
2001-12-12   -0.279321
2001-12-13   -0.152371
2001-12-14    0.270387
2001-12-15   -0.106529
2001-12-16    1.328047
2001-12-17   -0.354435
2001-12-18   -0.569281
2001-12-19    1.081119
2001-12-20    0.685523
2001-12-21    0.423111
2001-12-22   -0.517382
2001-12-23    1.282232
2001-12-24   -0.463486
2001-12-25    4.200650
2001-12-26    0.705215
2001-12-27   -0.321265
2001-12-28    0.409911
2001-12-29   -1.274728
2001-12-30    3.074826
2001-12-31    0.523383
Freq: D, Length: 365, dtype: float64

In [41]:
longer_ts['2001-05']

2001-05-01   -0.588211
2001-05-02    0.276685
2001-05-03    1.187578
2001-05-04    1.365114
2001-05-05    0.379131
2001-05-06    0.037602
2001-05-07   -0.020487
2001-05-08   -0.520772
2001-05-09   -0.722865
2001-05-10    0.616214
2001-05-11   -0.252283
2001-05-12   -0.278120
2001-05-13   -0.436003
2001-05-14   -1.599610
2001-05-15    0.712961
2001-05-16   -2.123800
2001-05-17    0.381109
2001-05-18    0.327180
2001-05-19    0.577030
2001-05-20    0.361641
2001-05-21   -1.037491
2001-05-22    0.329026
2001-05-23    0.543104
2001-05-24    1.057965
2001-05-25    1.828760
2001-05-26   -0.400799
2001-05-27   -0.258693
2001-05-28    0.639944
2001-05-29   -1.287020
2001-05-30   -0.851422
2001-05-31   -2.053482
Freq: D, dtype: float64

In [42]:
ts[datetime(2011,1,7):]

2011-01-07   -1.528214
2011-01-08    1.647434
2011-01-10   -0.275949
2011-01-12   -1.753504
dtype: float64

In [43]:
ts

2011-01-02   -0.630003
2011-01-05    0.118994
2011-01-07   -1.528214
2011-01-08    1.647434
2011-01-10   -0.275949
2011-01-12   -1.753504
dtype: float64

In [44]:
ts['1/6/2011':'20110111']

2011-01-07   -1.528214
2011-01-08    1.647434
2011-01-10   -0.275949
dtype: float64

In [45]:
dates = pd.date_range('1/1/2000',periods=100,freq='W-WED')
long_df = pd.DataFrame(np.random.randn(100,4),index=dates,columns=['Colorado','Texas','New York','Ohio'])
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02  0.011695 -0.331359 -1.779108 -0.178535
2001-05-09 -0.596547  0.483923  0.387312 -0.390621
2001-05-16 -1.521101 -1.742328 -1.228657  0.129921
2001-05-23 -0.499927  0.257070  0.611267  0.905614
2001-05-30  1.182700 -0.254698 -1.224044  1.203276

In [47]:
dates = pd.DatetimeIndex(['1/1/2000','1/2/2000','1/2/2000','1/2/2000','1/3/2000'])
dup_ts = pd.Series(np.arange(5),index=dates)

In [48]:
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [49]:
dup_ts.index.is_unique

False

In [50]:
dup_ts['1/3/2000']

4

In [51]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [52]:
grouped = dup_ts.groupby(level=0)

In [53]:
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

In [54]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

In [55]:
ts

2011-01-02   -0.630003
2011-01-05    0.118994
2011-01-07   -1.528214
2011-01-08    1.647434
2011-01-10   -0.275949
2011-01-12   -1.753504
dtype: float64

In [56]:
resampler = ts.resample('D')

In [57]:
index = pd.date_range('2012-04-01','2012-06-01')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [58]:
pd.date_range(start='2012-04-01',periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [59]:
pd.date_range(end='2012-06-01',periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [60]:
pd.date_range('2000-01-01','2000-12-01',freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [61]:
pd.date_range('2012-05-02 12:56:31',periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [62]:
pd.date_range('2012-05-02 12:56:31',periods=5,normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

In [63]:
from pandas.tseries.offsets import Hour,Minute

In [64]:
hour = Hour()
hour

In [65]:
four_hours = Hour(4)

In [67]:
four_hours

In [68]:
pd.date_range('2000-01-01','2000-01-03 23:59',freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [69]:
Hour(2)+Minute(30)

In [70]:
pd.date_range('2000-01-01',periods=10,freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [71]:
rng = pd.date_range('2012-01-01','20120901',freq='WOM-3FRI')

In [72]:
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

In [73]:
ts = pd.Series(np.random.randn(4),index=pd.date_range('1/1/2000',periods=4,freq='M'))

In [74]:
ts

2000-01-31   -0.359250
2000-02-29    1.607439
2000-03-31   -0.247195
2000-04-30   -0.231460
Freq: M, dtype: float64

In [75]:
ts/ts.shift(1)-1

2000-01-31         NaN
2000-02-29   -5.474428
2000-03-31   -1.153782
2000-04-30   -0.063654
Freq: M, dtype: float64

In [76]:
ts.shift(2,freq='M')

2000-03-31   -0.359250
2000-04-30    1.607439
2000-05-31   -0.247195
2000-06-30   -0.231460
Freq: M, dtype: float64

In [77]:
ts.shift(3,freq='D')

2000-02-03   -0.359250
2000-03-03    1.607439
2000-04-03   -0.247195
2000-05-03   -0.231460
dtype: float64

In [78]:
from pandas.tseries.offsets import Day,MonthEnd
now = datetime(2011,11,17)

In [79]:
now + 3*Day()

Timestamp('2011-11-20 00:00:00')

In [80]:
now + MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [81]:
offset = MonthEnd()

In [82]:
offset.rollforward(now)
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [83]:
ts = pd.Series(np.random.randn(20),index=pd.date_range('20000115',periods=20,freq='4d'))

In [84]:
ts

2000-01-15    1.413928
2000-01-19   -0.280203
2000-01-23   -0.540181
2000-01-27    1.150625
2000-01-31   -1.537797
2000-02-04    0.523802
2000-02-08    1.393094
2000-02-12   -0.337338
2000-02-16   -1.616439
2000-02-20    1.646640
2000-02-24    0.814229
2000-02-28    1.332345
2000-03-03   -2.186150
2000-03-07    1.517006
2000-03-11   -0.188287
2000-03-15    0.938719
2000-03-19   -0.976423
2000-03-23   -0.120044
2000-03-27   -0.393827
2000-03-31   -0.682938
Freq: 4D, dtype: float64

In [85]:
import pytz
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [86]:
tz = pytz.timezone('America/New_York')

In [87]:
tz

In [88]:
p = pd.Period(2007,freq='A-DEC')

In [89]:
p

Period('2007', 'A-DEC')

In [90]:
p+5

Period('2012', 'A-DEC')

In [91]:
p-2

Period('2005', 'A-DEC')

In [92]:
pd.Period('2014',freq='A-DEC')-p

7

In [93]:
rng = pd.period_range('2000-01-01','2000-06-30',freq='M')

In [94]:
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]', freq='M')

In [95]:
pd.Series(np.random.randn(6),index=rng)

2000-01   -0.630299
2000-02   -0.826528
2000-03    3.160811
2000-04    0.626110
2000-05    0.418099
2000-06   -0.759317
Freq: M, dtype: float64

In [96]:
p = pd.Period('2007',freq='A-DEC')

In [97]:
p

Period('2007', 'A-DEC')

In [98]:
p.asfreq('M',how='start')

Period('2007-01', 'M')

In [99]:
p.asfreq('M',how='end')

Period('2007-12', 'M')

In [101]:
p = pd.Period('Aug-2007','M')
p.asfreq('A-JUN')

Period('2008', 'A-JUN')

In [102]:
rng = pd.period_range('2006','2009',freq='A-DEC')

In [103]:
ts = pd.Series(np.random.randn(len(rng)),index=rng)

In [104]:
ts

2006    0.737907
2007    0.578412
2008    1.343565
2009   -1.720323
Freq: A-DEC, dtype: float64

In [105]:
ts.asfreq('M',how='start')

2006-01    0.737907
2007-01    0.578412
2008-01    1.343565
2009-01   -1.720323
Freq: M, dtype: float64

In [106]:
ts.asfreq('B',how='end')

2006-12-29    0.737907
2007-12-31    0.578412
2008-12-31    1.343565
2009-12-31   -1.720323
Freq: B, dtype: float64

In [107]:
p = pd.Period('2012Q4',freq='Q-JAN')

In [108]:
p

Period('2012Q4', 'Q-JAN')

In [109]:
rng = pd.date_range('2000-01-01',periods=3,freq='M')
ts = pd.Series(np.random.randn(3),index=rng)

In [110]:
ts

2000-01-31    1.730820
2000-02-29   -1.343437
2000-03-31   -0.759598
Freq: M, dtype: float64

In [111]:
pts = ts.to_period()

In [112]:
pts

2000-01    1.730820
2000-02   -1.343437
2000-03   -0.759598
Freq: M, dtype: float64

In [114]:
rng = pd.date_range('20000129',periods=6,freq='D')

In [115]:
ts2 = pd.Series(np.random.randn(6),index=rng)

In [116]:
ts2

2000-01-29    0.679220
2000-01-30    0.767357
2000-01-31    0.863693
2000-02-01    1.233677
2000-02-02   -2.762040
2000-02-03   -1.337335
Freq: D, dtype: float64

In [117]:
ts2.to_period('M')

2000-01    0.679220
2000-01    0.767357
2000-01    0.863693
2000-02    1.233677
2000-02   -2.762040
2000-02   -1.337335
Freq: M, dtype: float64

In [118]:
pts = ts2.to_period()

In [119]:
pts

2000-01-29    0.679220
2000-01-30    0.767357
2000-01-31    0.863693
2000-02-01    1.233677
2000-02-02   -2.762040
2000-02-03   -1.337335
Freq: D, dtype: float64

In [120]:
data = pd.read_csv('I:\\pydata-book-2nd-edition\examples/macrodata.csv')

In [121]:
data.head(5)

,year,quarter,realgdp,realcons,realinv,realgovt,realdpi,cpi,m1,tbilrate,unemp,pop,infl,realint
0,1959.0,1.0,2710.349,1707.4,286.898,470.045,1886.9,28.98,139.7,2.82,5.8,177.146,0.00,0.00
1,1959.0,2.0,2778.801,1733.7,310.859,481.301,1919.7,29.15,141.7,3.08,5.1,177.830,2.34,0.74
2,1959.0,3.0,2775.488,1751.8,289.226,491.260,1916.4,29.35,140.5,3.82,5.3,178.657,2.74,1.09
3,1959.0,4.0,2785.204,1753.7,299.356,484.052,1931.3,29.37,140.0,4.33,5.6,179.386,0.27,4.06
4,1960.0,1.0,2847.699,1770.5,331.722,462.199,1955.5,29.54,139.6,3.50,5.2,180.007,2.31,1.19

In [122]:
data.year

0      1959.0
1      1959.0
2      1959.0
3      1959.0
4      1960.0
5      1960.0
6      1960.0
7      1960.0
8      1961.0
9      1961.0
10     1961.0
11     1961.0
12     1962.0
13     1962.0
14     1962.0
15     1962.0
16     1963.0
17     1963.0
18     1963.0
19     1963.0
20     1964.0
21     1964.0
22     1964.0
23     1964.0
24     1965.0
25     1965.0
26     1965.0
27     1965.0
28     1966.0
29     1966.0
        ...
173    2002.0
174    2002.0
175    2002.0
176    2003.0
177    2003.0
178    2003.0
179    2003.0
180    2004.0
181    2004.0
182    2004.0
183    2004.0
184    2005.0
185    2005.0
186    2005.0
187    2005.0
188    2006.0
189    2006.0
190    2006.0
191    2006.0
192    2007.0
193    2007.0
194    2007.0
195    2007.0
196    2008.0
197    2008.0
198    2008.0
199    2008.0
200    2009.0
201    2009.0
202    2009.0
Name: year, Length: 203, dtype: float64

In [123]:
data.quarter

0      1.0
1      2.0
2      3.0
3      4.0
4      1.0
5      2.0
6      3.0
7      4.0
8      1.0
9      2.0
10     3.0
11     4.0
12     1.0
13     2.0
14     3.0
15     4.0
16     1.0
17     2.0
18     3.0
19     4.0
20     1.0
21     2.0
22     3.0
23     4.0
24     1.0
25     2.0
26     3.0
27     4.0
28     1.0
29     2.0
      ...
173    2.0
174    3.0
175    4.0
176    1.0
177    2.0
178    3.0
179    4.0
180    1.0
181    2.0
182    3.0
183    4.0
184    1.0
185    2.0
186    3.0
187    4.0
188    1.0
189    2.0
190    3.0
191    4.0
192    1.0
193    2.0
194    3.0
195    4.0
196    1.0
197    2.0
198    3.0
199    4.0
200    1.0
201    2.0
202    3.0
Name: quarter, Length: 203, dtype: float64

In [124]:
index = pd.PeriodIndex(year=data.year,quarter=data.quarter,freq='Q-DEC')

In [125]:
index

PeriodIndex(['1959Q1', '1959Q2', '1959Q3', '1959Q4', '1960Q1', '1960Q2',
             '1960Q3', '1960Q4', '1961Q1', '1961Q2',
             ...
             '2007Q2', '2007Q3', '2007Q4', '2008Q1', '2008Q2', '2008Q3',
             '2008Q4', '2009Q1', '2009Q2', '2009Q3'],
            dtype='period[Q-DEC]', length=203, freq='Q-DEC')

In [127]:
data.index = index
data.infl

1959Q1    0.00
1959Q2    2.34
1959Q3    2.74
1959Q4    0.27
1960Q1    2.31
1960Q2    0.14
1960Q3    2.70
1960Q4    1.21
1961Q1   -0.40
1961Q2    1.47
1961Q3    0.80
1961Q4    0.80
1962Q1    2.26
1962Q2    0.13
1962Q3    2.11
1962Q4    0.79
1963Q1    0.53
1963Q2    2.75
1963Q3    0.78
1963Q4    2.46
1964Q1    0.13
1964Q2    0.90
1964Q3    1.29
1964Q4    2.05
1965Q1    1.28
1965Q2    2.54
1965Q3    0.89
1965Q4    2.90
1966Q1    4.99
1966Q2    2.10
          ...
2002Q2    1.56
2002Q3    2.66
2002Q4    3.08
2003Q1    1.31
2003Q2    1.09
2003Q3    2.60
2003Q4    3.02
2004Q1    2.35
2004Q2    3.61
2004Q3    3.58
2004Q4    2.09
2005Q1    4.15
2005Q2    1.85
2005Q3    9.14
2005Q4    0.40
2006Q1    2.60
2006Q2    3.97
2006Q3   -1.58
2006Q4    3.30
2007Q1    4.58
2007Q2    2.75
2007Q3    3.45
2007Q4    6.38
2008Q1    2.82
2008Q2    8.53
2008Q3   -3.16
2008Q4   -8.79
2009Q1    0.94
2009Q2    3.37
2009Q3    3.56
Freq: Q-DEC, Name: infl, Length: 203, dtype: float64

In [128]:
rng = pd.date_range('2000-01-01',periods=100,freq='D')

In [129]:
ts = pd.Series(np.random.randn(len(rng)),index=rng)

In [130]:
ts

2000-01-01    0.866540
2000-01-02   -0.171507
2000-01-03   -0.757826
2000-01-04    1.778321
2000-01-05    0.494791
2000-01-06    0.730297
2000-01-07    0.200015
2000-01-08   -0.331920
2000-01-09    0.131975
2000-01-10    1.407670
2000-01-11    0.967612
2000-01-12    1.070887
2000-01-13    0.146511
2000-01-14   -0.003189
2000-01-15   -0.351822
2000-01-16   -0.086439
2000-01-17    0.033443
2000-01-18    0.269382
2000-01-19    1.102653
2000-01-20   -0.761701
2000-01-21   -0.064401
2000-01-22    0.963952
2000-01-23   -1.004445
2000-01-24    0.682140
2000-01-25    0.316403
2000-01-26   -0.354715
2000-01-27   -0.020671
2000-01-28   -0.686611
2000-01-29   -0.458404
2000-01-30   -0.496862
                ...
2000-03-11    0.864356
2000-03-12   -1.672291
2000-03-13   -0.321517
2000-03-14    1.817456
2000-03-15    1.579467
2000-03-16    0.245070
2000-03-17    0.223595
2000-03-18   -0.754475
2000-03-19   -1.230556
2000-03-20   -1.828996
2000-03-21    0.221536
2000-03-22   -0.114936
2000-03-23   -1.499877
2000-03-24    0.344281
2000-03-25    0.419039
2000-03-26   -1.380555
2000-03-27    0.845096
2000-03-28   -1.685490
2000-03-29   -0.987485
2000-03-30    0.306572
2000-03-31   -1.656132
2000-04-01    0.386468
2000-04-02    0.850760
2000-04-03    0.520194
2000-04-04    2.544010
2000-04-05   -0.225544
2000-04-06   -0.710937
2000-04-07   -0.484467
2000-04-08   -0.571320
2000-04-09    1.009679
Freq: D, Length: 100, dtype: float64

In [131]:
ts.resample('M').mean()

2000-01-31    0.192744
2000-02-29    0.095100
2000-03-31   -0.307488
2000-04-30    0.368760
Freq: M, dtype: float64

In [132]:
ts.resample('M',kind='period').mean()

2000-01    0.192744
2000-02    0.095100
2000-03   -0.307488
2000-04    0.368760
Freq: M, dtype: float64

In [133]:
rng = pd.date_range('2000-01-01',periods=12,freq='T')
ts = pd.Series(np.arange(12),index=rng)
ts

2000-01-01 00:00:00     0
2000-01-01 00:01:00     1
2000-01-01 00:02:00     2
2000-01-01 00:03:00     3
2000-01-01 00:04:00     4
2000-01-01 00:05:00     5
2000-01-01 00:06:00     6
2000-01-01 00:07:00     7
2000-01-01 00:08:00     8
2000-01-01 00:09:00     9
2000-01-01 00:10:00    10
2000-01-01 00:11:00    11
Freq: T, dtype: int32

In [134]:
ts.resample('5min',closed='right').sum()

1999-12-31 23:55:00     0
2000-01-01 00:00:00    15
2000-01-01 00:05:00    40
2000-01-01 00:10:00    11
Freq: 5T, dtype: int32

In [135]:
ts.resample('5min').ohlc()

                     open  high  low  close
2000-01-01 00:00:00     0     4    0      4
2000-01-01 00:05:00     5     9    5      9
2000-01-01 00:10:00    10    11   10     11

In [136]:
frame = pd.DataFrame(np.random.randn(2,4),index=pd.date_range('1/1/2000',periods=2,freq='W-WED'),columns=['Colorado','Texas','New York','Ohio'])
frame

            Colorado     Texas  New York      Ohio
2000-01-05 -0.252228 -0.146728  0.356419  0.180679
2000-01-12 -0.126243 -0.642118  1.217381  0.772814

In [137]:
df_daily = frame.resample('D').asfreq()
df_daily

            Colorado     Texas  New York      Ohio
2000-01-05 -0.252228 -0.146728  0.356419  0.180679
2000-01-06       NaN       NaN       NaN       NaN
2000-01-07       NaN       NaN       NaN       NaN
2000-01-08       NaN       NaN       NaN       NaN
2000-01-09       NaN       NaN       NaN       NaN
2000-01-10       NaN       NaN       NaN       NaN
2000-01-11       NaN       NaN       NaN       NaN
2000-01-12 -0.126243 -0.642118  1.217381  0.772814

In [138]:
frame.resample('D').ffill()

            Colorado     Texas  New York      Ohio
2000-01-05 -0.252228 -0.146728  0.356419  0.180679
2000-01-06 -0.252228 -0.146728  0.356419  0.180679
2000-01-07 -0.252228 -0.146728  0.356419  0.180679
2000-01-08 -0.252228 -0.146728  0.356419  0.180679
2000-01-09 -0.252228 -0.146728  0.356419  0.180679
2000-01-10 -0.252228 -0.146728  0.356419  0.180679
2000-01-11 -0.252228 -0.146728  0.356419  0.180679
2000-01-12 -0.126243 -0.642118  1.217381  0.772814

In [139]:
frame.resample('D').ffill(limit=2)

            Colorado     Texas  New York      Ohio
2000-01-05 -0.252228 -0.146728  0.356419  0.180679
2000-01-06 -0.252228 -0.146728  0.356419  0.180679
2000-01-07 -0.252228 -0.146728  0.356419  0.180679
2000-01-08       NaN       NaN       NaN       NaN
2000-01-09       NaN       NaN       NaN       NaN
2000-01-10       NaN       NaN       NaN       NaN
2000-01-11       NaN       NaN       NaN       NaN
2000-01-12 -0.126243 -0.642118  1.217381  0.772814

In [140]:
frame.resample('W-THU').ffill()

            Colorado     Texas  New York      Ohio
2000-01-06 -0.252228 -0.146728  0.356419  0.180679
2000-01-13 -0.126243 -0.642118  1.217381  0.772814

In [141]:
frame = pd.DataFrame(np.random.randn(24,4),index=pd.period_range('1-2000','12-2001',freq='M'),
                    columns=['Colorado','Texas','New York','Ohio'])
frame[:5]

         Colorado     Texas  New York      Ohio
2000-01  0.141788 -2.168927  0.211023  0.063710
2000-02  0.495880 -1.725508  1.970400 -0.784364
2000-03 -0.249672 -0.053977  0.668863 -1.200925
2000-04 -0.436107  0.483958  1.867880 -0.066923
2000-05 -0.243669 -2.117756  0.646487  0.979061

In [142]:
annual_frame = frame.resample('A-DEC').mean()

In [143]:
annual_frame

      Colorado     Texas  New York      Ohio
2000 -0.342986 -0.487150  0.713732  0.192530
2001  0.102719 -0.071793  0.039655  0.214747

In [144]:
annual_frame.resample('Q-DEC').ffill()

        Colorado     Texas  New York      Ohio
2000Q1 -0.342986 -0.487150  0.713732  0.192530
2000Q2 -0.342986 -0.487150  0.713732  0.192530
2000Q3 -0.342986 -0.487150  0.713732  0.192530
2000Q4 -0.342986 -0.487150  0.713732  0.192530
2001Q1  0.102719 -0.071793  0.039655  0.214747
2001Q2  0.102719 -0.071793  0.039655  0.214747
2001Q3  0.102719 -0.071793  0.039655  0.214747
2001Q4  0.102719 -0.071793  0.039655  0.214747

In [145]:
annual_frame.resample('Q-DEC',convention='end').ffill()

        Colorado     Texas  New York      Ohio
2000Q4 -0.342986 -0.487150  0.713732  0.192530
2001Q1 -0.342986 -0.487150  0.713732  0.192530
2001Q2 -0.342986 -0.487150  0.713732  0.192530
2001Q3 -0.342986 -0.487150  0.713732  0.192530
2001Q4  0.102719 -0.071793  0.039655  0.214747

In [146]:
close_px_all= pd.read_csv('I:\\pydata-book-2nd-edition\examples/stock_px_2.csv',parse_dates=True,index_col=0)

In [147]:
close_px = close_px_all[['AAPL','MSFT','XOM']]
close_px = close_px.resample('B').ffill()

In [148]:
close_px.AAPL.plot()
close_px.AAPL.rolling(250).mean().plot()